@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>.NET 💜 Azure Test Services Hi Alex</h1>
    <p class="lead">Example .NET app to Azure App Service.</p>
</div>
```docker
docker build -f Dockerfile.windows -t dotnetcore-docs-hello-world-windows . 
docker tag dotnetcore-docs-hello-world-windows myfirstazurewebapp44.azurewebsites.net.azurecr.io/dotnetcore-docs-hello-world-windows:latest
docker push myfirstazurewebapp44.azurewebsites.net.azurecr.io/dotnetcore-docs-hello-world-windows:latest
```